<h1>Testplans</h1>

<ul id="test_plans">
  <% @test_plans.each do |tp| %>
    <div class="test_plan">
      <h3><%= link_to tp.name, tp %></h3>
        <p>Created by: <%= tp.author %></p>
      <%= pluralize(tp.categories.size, "Category") %><br />
      <%#= pluralize(tp.categories.test_cases.size, "Test Case") %>
    </div>
  <% end %>
</ul>
