<div class="text-center">
  <br />
  <%= simple_form_for @feature do |f| %>
    <%= f.error_notification %>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <%= f.input :name, label: false, :placeholder => 'Feature name',
              :class => "col-md-12" %>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <%= f.submit "Create", :class => "btn btn-primary"%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>